html, body, #root, .screen {
  height: 100%;
  width: 100%;
}

.color {
  background-color: #C4F0FA;
}

.home-container {
  padding-left: 6em;
  width: 50%;
  height: 20%;
  border-radius: 4px;
  position: absolute;
  left: 25%;
  top: 33%;
  transition: 0.3s all;
}